@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --white: #ffffff;
  --purple-900: #1a1a27;
  --purple-700: #484456;
  --purple-600: #4a00e0;
  --purple-300: #cabeff;
  --purple-250: #e3e0f2;
  --purple-200: #c9c3d9;
  --purple-150: #dbe2fa;
  --purple-100: #e9e6f8;
  --purple-75: #eeecfe;
  --purple-50: #f5f2ff;
  --purple-25: #fcf8ff;
  --slate-500: #5d6478;
  --slate-600: #575e72;
  --slate-200: #797488;
  --color-danger: #c84d4f;

  --gradient-body: linear-gradient(
    to bottom right,
    var(--purple-25),
    var(--white)
  );
  --color-bg-surface: var(--purple-75);
  --color-bg-input: var(--purple-50);
  --color-bg-pill: var(--purple-150);

  --color-text-primary: var(--purple-900);
  --color-text-secondary: var(--purple-700);
  --color-text: var(--white);
  --color-text-pill: var(--slate-500);
  --color-text-footer: var(--purple-300);

  --color-border-strong: var(--purple-200);
  --color-border-subtle: var(--purple-100);

  --color-primary: var(--purple-600);
  --shadow-light: 0px 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-normal: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: var(--gradient-body);
  font-family: "Plus Jakarta Sans", sans-serif;
}

input,
textarea,
button {
  font-family: inherit;
}

/* Typography */
.text-label {
  letter-spacing: 0.7px;
  line-height: 14px;
  font-size: 14px;
  font-weight: 600;
}

.heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  color: var(--color-text-primary);
}

/* buttons */
.button {
  background-color: var(--color-primary);
  color: var(--color-text);
  outline: none;
  border: none;
  filter: drop-shadow(var(--shadow-light));
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.275s ease-out;
}

.button:hover {
  opacity: 0.9;
}

.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--purple-150);
}

.button[data-variant="navbar-button"] {
  padding: 8px 24px;
  border-radius: 8px;
}

.button[data-variant="counter-button"] {
  padding: 16px;
  border-radius: 8px;
}

/* list items */
.pill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: start;
}

.pill[data-variant="bordered"] {
  background-color: var(--color-bg-surface);
  border: 1px solid var(--color-border-strong);
  padding: 8px 28.85px;
  color: var(--color-text-secondary);
  border-radius: 8px;
}

.pill[data-variant="rounded"] {
  background-color: var(--color-bg-pill);
  color: var(--color-text-pill);
  padding: 8px 16px;
  border-radius: 999px;
}

/* Progress bar */
.skill {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skill .skill-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill .skill-label span:first-child {
  color: var(--color-text-primary);
  font-weight: 700;
}
.skill .skill-label span:last-child {
  color: var(--slate-600);
}

.skill .progress {
  width: 100%;
  height: 10px;
  border-radius: 999px;
  background-color: var(--purple-250);
  overflow: hidden;
}

.skill .progress .progress__bar {
  height: 100%;
  background-color: var(--color-primary);
  width: var(--value);
  transition: width 0.6s ease;
  animation: progress-fill 0.8s ease-out;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 24px 80px;
  background-color: var(--color-text);
  box-shadow: var(--shadow-light);
  z-index: 999;
}

header #nav-button {
  outline: none;
  background-color: inherit;
  border: none;
  position: absolute;
  right: 24px;
  top: 16px;
  opacity: 0;
  visibility: hidden;
}

header .logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  color: var(--color-primary);
}

nav {
  transition: transform 0.3s ease-in-out;
}

nav ul {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

nav a {
  color: var(--color-text-secondary);
  transition: opacity 0.275s ease-out;
}

nav a:hover {
  opacity: 0.7;
}
nav a.active {
  color: var(--color-primary);
  text-decoration: underline;
}

main {
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  /* gap: 80px; */
}

section:first-of-type {
  padding-top: 132px;
  padding-bottom: 40px;
}

section:not(:first-of-type) {
  padding-bottom: 40px;
  padding-top: 80px;
}

.card {
  background-color: var(--color-text);
  box-shadow: var(--shadow-normal);
  border-radius: 12px;
  padding: 24px;
  overflow: hidden;
}

.card[data-variant="bordered"] {
  border: 1px solid var(--color-border-subtle);
}
.card[data-variant="filled"] {
  border: 1px solid var(--color-border-subtle);
  background-color: var(--color-bg-input);
}

.card--header {
  border-bottom: 1px solid var(--purple-250);
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.card--header__filled {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.card--header__rich {
  margin-bottom: 20px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  position: relative;
}

.card--header__rich::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: var(--purple-300);
  border-radius: 50%;
  right: -15%;
  top: -150%;
  opacity: 50%;
  filter: blur(20px);
}

.card--header__rich .card--header__top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.hero--intro {
  grid-column: 1 / -1;
  display: flex;
  gap: 48px;
}

.card--photo {
  width: 248px;
  height: 248px;
  border-radius: 50%;
  border: 4px solid var(--color-border-subtle);
}

.hero--intro .hero--intro__content {
  width: 618px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  justify-content: center;
}

.hero--intro h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0.64px;
  color: var(--color-text-primary);
}

.hero--intro p:first-of-type {
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  color: var(--color-primary);
}

.hero--intro p:last-of-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-secondary);
}

.counter {
  height: 151px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background-color: var(--color-bg-surface);
}

.counter #count {
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: -0.64px;
}

.about h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0.64px;
  color: var(--color-text-primary);
}

.about p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: var(--color-text-secondary);
}

.about--grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.about--grid .card:nth-child(1) {
  grid-column: span 3;
}

.about--grid .card:nth-child(1) article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.about--grid .card:nth-child(1) .card--photo {
  border: none;
  border-radius: 0;
  width: 160px;
  height: 160px;
}

.about--grid .card:nth-child(1) article h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  color: var(--color-primary);
}

.about--grid .card:nth-child(1) article p.parapgraph {
  text-transform: uppercase;
  color: var(--color-text-secondary);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
}

.about--grid .card:nth-child(1) article p.about-hero__text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-text-secondary);
}

.about--grid .card:nth-child(2) {
  grid-column: span 1;
}
.about--grid .card:nth-child(3) {
  grid-column: span 2;
}
.about--grid .card:nth-child(4) {
  grid-column: span 2;
}

.skills--list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about--grid .card:nth-child(4) .card--header__rich p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-secondary);
}

.character--counter {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#characterCount.is-warning {
  color: var(--color-danger);
  font-weight: 500;
}

.character--counter .character--counter__field {
  outline: none;
  padding: 8px;
  height: 114px;
  resize: none;
  background-color: var(--color-text);
  border: 1px solid var(--slate-200);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.character--counter .character--counter__field:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--purple-150);
}

.character--counter .character--counter__field::placeholder {
  color: #48445699;
}

.character--counter .character--counter__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--color-text);
  border-radius: 6px;
  border: 1px solid var(--color-border-subtle);
  height: 44px;
}

.character--counter .character--counter__input span:first-of-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-secondary);
}

.character--counter .character--counter__input span:last-of-type {
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  color: var(--color-primary);
}

.contact .contact__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .contact__header h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 31.2px;
  letter-spacing: -0.52px;
  text-align: center;
  color: var(--color-primary);
  position: relative;
}

.contact h1::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  border-radius: 999px;
  background-color: currentColor;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
}

.contact--grid {
  width: 896px;
  max-width: 896px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 48px 24px;
  margin: 48px auto;
}

.contact--form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.contact--form .form--control {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact--form label {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
}

.contact--form textarea {
  height: 146px;
  resize: none;
}

.contact--form :is(input, textarea) {
  width: 100%;
  border: 1px solid var(--color-border-strong);
  background-color: var(--color-bg-input);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  outline: none;
  border-radius: 8px;
  padding: 12px 16px;
}

.contact--form :is(input, textarea):focus {
  box-shadow: 0 0 0 4px var(--purple-150);
}

.contact--form :is(input, textarea)::placeholder {
  color: #48445680;
}

.socials {
  padding-top: 100px;
}

.socials .heading {
  padding-bottom: 16px;
}

.contact--links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact--links li {
  display: flex;
  gap: 12px;
  padding: 12px;
  align-items: center;
}

.contact--links li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-secondary);
  transition: opacity 0.2s ease;
}
.contact--links li a:hover {
  opacity: 0.75;
}

.contact-bottom {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-bottom p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28.8px;
  color: var(--color-primary);
}

#formStatus {
  margin: 0;
  font-size: 14px;
  min-height: 20px;
}

#formStatus.is-success {
  color: green;
}

#formStatus.is-error {
  color: red;
}

footer {
  border-radius: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 48px 40px !important;
}

footer h3 {
  color: var(--color-text-primary);
  font-weight: 800;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-primary);
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

footer ul a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-pill);
  transition: opacity 0.275 ease-out;
}

footer ul a:hover {
  opacity: 0.75;
}

/* ANIMATIONS */
@keyframes progress-fill {
  from {
    width: 0;
  }
  to {
    width: var(--value);
  }
}

nav.shown {
  transform: scaleY(100%);
}

nav.hidden {
  height: 0;
  transform: scaleY(0);
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.only-desktop {
  display: block;
}

.only-mobile {
  display: none;
}

/* MEDIA */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px 12px;
  }
  nav {
    display: none;
  }
  #cta-button {
    display: none;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    padding-top: 24px;
  }
  header .button {
    margin-top: 16px;
  }
  header #nav-button {
    visibility: visible;
    opacity: 100%;
  }
  main {
    padding: 0px 12px;
  }
  section:first-of-type {
    padding-top: 80px;
  }

  section:not(:first-of-type) {
    padding-top: 80px;
  }
  .card {
    padding: 12px 16px;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .hero--intro {
    flex-direction: column;
    padding: 32px 12px !important;
    justify-content: center;
    align-items: center;
  }
  .card--photo {
    width: 120px;
    height: 120px;
  }
  .hero--intro .hero--intro__content {
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about--grid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .about--grid .card:nth-child(1) {
    grid-column: span 1;
  }
  .about--grid .card:nth-child(1) article {
    flex-direction: column;
  }
  .about--grid .card:nth-child(1) .card--photo {
    width: 120px;
    height: 120px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about--grid .card:nth-child(2) {
    grid-column: span 1;
  }
  .about--grid .card:nth-child(3) {
    grid-column: span 1;
  }
  .about--grid .card:nth-child(4) {
    grid-column: span 1;
  }
  .contact--grid {
    width: auto;
    max-width: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 48px auto;
  }
  .contact-bottom p {
    font-size: 14px;
    text-align: center;
    line-height: 24.8px;
  }
  footer {
    padding: 36 20px;
    text-align: center;
    background-color: var(--color-primary) !important;
  }
  footer h3 {
    display: none;
  }
  footer p {
    color: var(--color-text);
  }
  footer ul a {
    color: var(--color-text-footer);
  }
  .only-desktop {
    display: none;
  }

  .only-mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .contact--grid {
    width: auto;
    max-width: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 48px auto;
  }
  .socials {
    padding-top: 24px;
  }

  .about--grid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
  .about--grid .card:nth-child(1) {
    grid-column: span 4;
  }
  .about--grid .card:nth-child(2) {
    grid-column: span 4;
  }
}
